@mixin fixing-heading {
  .md-banner.layout1 {
    .site-title {
      max-width: 1000px;
    }
    h1 {
      font-size: clamp(2.5rem, 7vw, 4.1rem) !important;
      line-height: 1 !important;
    }
  }
}