@mixin contact-form {
  .md-form.layout11 {
    .form-agent {
      padding-top: 80px;
      @media(max-width: 575px) {
        padding-top: 40px;
      }
      position: relative;
      &:before {    
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-image:  
          linear-gradient(-125deg, rgba(0,0,0,0.3), rgba(0,0,0,0.6)), 
          url('https://images.pexels.com/photos/32453033/pexels-photo-32453033.jpeg?_gl=1*4h61ej*_ga*MTQzNTAwOTI0My4xNzQwNzgzNTEz*_ga_8JE65Q40S6*czE3NzkxNDc3MzEkbzczJGcxJHQxNzc5MTQ3NzU5JGozMiRsMCRoMA..') !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50% !important;
        filter: grayscale(.6);
      }
      .agent-container {
        position: relative;
      }
    }
    .agent-container {
      padding: 0 15px !important;
      margin-inline: auto;
      position: relative;
    }
    .agent-form-wrap {
      max-width: 1000px;
      margin-inline: auto;
      padding: 70px 6% !important;
      @media(max-width: 575px) {
        padding: 30px 15px !important;
      }
      .site-title {
        line-height: 1 !important;
        p {
          display: flex;
          justify-content: center;
          margin-bottom: 1.5rem;
        }
      }
    }
    .agent-info-links {
      padding-block: 60px 80px;
      @media(max-width: 575px) {
        padding-block: 30px 40px;
      }
      position: relative;
      &:before {
        content: '';
        background-color: var(--we-blue);
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        right: 50%;
        transform: translateX(50vw)
      }  
      .site-title {
        color: #fff;
        position: relative;
        padding-bottom: 3.3rem;        
        text-transform: uppercase;
        &:before {
          content: "Grant, Weston & Jim Bim are social";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          color: rgba(255,255,255,.85) ;
          font-size: clamp(1rem, 1.8vw, 1.5rem);
          line-height: 1.1;
          font-family: font-Lato-300;
          letter-spacing: .05em;
        }
      }
      .share-links {
        gap: 36px 24px !important;
        @media(max-width: 575px) {
          gap: 20px 16px !important;
        }
      }
      .iconfont {
        $size: 48px;
        width: $size !important;
        height: $size !important;
        background-color: #fff !important;
        border-radius: 1px;
        transition: all .25s ease-out;
        &:before {
          color: var(--we-blue) !important;
          font-size: 20px !important;
          transition: all .25s ease-out;
        }
        &:hover {
          background-color: rgba(#fff, .85) !important;
          &:before {
            color: var(--we-red) !important;
          }
        }
      }
      
    }
  }
}