@mixin contact-info {
  .md-agent-contact.template8 {
    padding-block: var(--section-padding-block-sm);
    background-color: var(--we-blue);
    .mg-title {
      padding-block: 0 4rem;
      background: unset;
      font-size:var(--mg-title-size) !important;
      h2 {
        padding-top: 2.5rem;
        span {
          font-size: 1em !important;
        }
      }
    }
    .contact-container {
      min-height: unset;
    }
    .agent-contact-content {
      height: 100% !important;
      max-width: 800px;
      display: flex;
      align-items: flex-start;
      .contact {
        text-wrap: balance;
        & > a {
          background-color: #fff;
          border-radius: 2px;
          aspect-ratio: 1;
          width: 100px;
          height: 100px;
          @media(max-width: 575px) {
            width: 60px;
            height: 60px;
          }
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
          transition: all .25s ease-out;
          i {
            color: var(--we-blue);
            transition: all .25s ease-out;
            @media(min-width: 576px) {
              font-size: 40px !important;
            }
          }
          &:hover {
            background-color: rgba(#fff, .85);
            i {
              color: var(--we-red);
            }
          }
          .icon-agent-email {
            @media(min-width: 576px) {
              font-size: 30px !important;
            }
          }
        }
        .content {
          a {
            transition: all .25s ease-out;
            &:hover {
              text-decoration: underline;
              opacity: .7;
            }
          }
        }    
      }
    }
  }
}