@use 'containers';

@mixin cta-layout-13 {
  .md-cta.layout13 {
    padding-block: 40px;
    background-color: var(--we-blue);
    .content {
      @include containers.custom-containers;
      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px 2.5%;
      @media(max-width: 767px) {
        grid-template-columns: 1fr;        
      }
    }
    .card-wrapper {
      @media(min-width: 768px) {
        height: auto !important;
        aspect-ratio: 1;   
      }         
    }
    .card-content {
      .site-p {
        @media(min-width: 768px) and (max-width: 991px) {
          min-height: 36px;
        }
      }
    }
  }
}