@use 'mixins';

:root {
  font-size: 16px !important;    
  --column-padding: 4vw;  
  --margin-row: 4.5rem;
  @media (max-width: 1024px) {
    --column-padding: 2rem;
  } 
  @media (max-width: 575px) {
    font-size: 14px !important;
    --column-padding: 1rem;
    --margin-row: 2.5rem;
  }  
}  

.standard-content-style {

  .title-wrapper {
    text-align: center;
    max-width: 1000px;
    margin-inline: auto;
    margin-bottom: var(--margin-row);
    h2 {
      color: #444;        
      margin-bottom: 0 !important;
    }
    p {
      color: #777;  
      font-size: 1.05rem;
      line-height: 1.65;
      margin-top: 1.5rem;
      text-wrap: pretty;
    }
  }

  .h3 {
    color: #4f4f4f;
    font-family: font-Lato-700;
    font-size: clamp(1.35rem, 5vw, 1.45rem);
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: left;
    line-height: 1.1;
  }

  p, li {  
    color: #555;
    font-family: font-Manrope-400;
    font-size: 1rem;
    line-height: 1.8;    
    &:not(:last-child) {  
      margin-bottom: 1rem;              
    } 
    @media(max-width: 991px) {
      line-height: 1.65;
    }
  }

  .fs-italic {  
    font-style: italic;
    font-weight: bold;     
    margin-bottom: 0;              
  } 

  ul {
    @include mixins.check-style-list;
  } 

  .flex-row {
    width: 100%;    
    display: flex;
    flex-flow: row wrap;    
    border: 1px solid hsl(0, 0%, 94%);
    border-radius: 3px;
    box-shadow: 4px 6px 8px 1px rgba(0,0,0,0.05);
    &:nth-of-type(odd) {
      @media (min-width: 992px) {
        flex-direction: row-reverse;
      }
    }
    &:not(:last-of-type) {
      margin-bottom: var(--margin-row);   
    }
  }

  .flex-col {
    width: 50%;
    min-height: 100%;
    @media (max-width: 991px) {    
      width: 100%;
    }    
    &--text {
      background-color: hsl(0, 0%, 97%);
    }
    &--img {
      align-content: center;
      .img-wrapper {
        height: 100%;
        width: 100%;  
        &--contain {
          padding: 1rem;
          height: auto;
        }
        img {
          width: 100%;
          margin: 0 !important;
        } 
        .img--cover {
          height: 100%;    
          object-fit: cover;
          object-position: top;  
          aspect-ratio: 16/9;
          @media(min-width: 992px){        
            min-height: 340px;      
          } 

        }
        .img--contain {
          height: auto;
          object-fit: contain;    
        }
      } 
      .video-wrapper {
        height: 100%;
        width: 100%;  
        @media(min-width: 992px){
          min-height: 340px;
          background-color: #000;
        }  
        iframe {    
          height: auto;
          width: 100%;
          aspect-ratio: 16/9;
          object-fit: contain;
        }     
      }
    }
  }

  .content-padding {
    padding: var(--column-padding);
    @media(max-width: 991px) {
      padding-top: calc(var(--column-padding) + 1rem);
    }
  } 
}