@mixin title-strip {
  .title-strip {
    text-align: center;
    max-width: 1000px !important;
    h2 {
      color: #fff;  
      font-family: var(--mg-title-font);
      font-size: clamp(2rem, 3vw, 2.9rem) !important;
      line-height: 1;
      text-wrap: balance;
      text-transform: uppercase;
    }
    p {
      color: #fff;  
      font-size: 1.05rem;
      line-height: 1.65;
      margin-top: 1.5rem;
      text-wrap: pretty;
    }
  }
} 