@use 'mixins';

:root {
  font-size: 16px !important;  
  --c-light: hsl(0, 0%, 98%);      
  --c-gray: hsl(0, 0%, 40%);       
  --c-dark: hsl(0, 0%, 20%); 
  --c-darker: hsl(0, 0%, 7%);      
  --space: 2rem;     
  @media (max-width: 575px) {
    font-size: 14px !important;
    --space: 1.2rem;
  }
}  


/* UTILITY CLASSES START */

.fs-small {
  font-size: .9rem !important;
} 
.fs-italic {
  font-style: italic;
}
.fw-bold {
  font-weight: 600 !important;
}  
.bg-grey {
  background-color: var(--c-light);  
} 
// .text-red {
//   color: var(--we-red); tá no global já
// } 

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-10 {
  margin-top: 1rem !important;
}
.mt-15 {
  margin-top: 1.5rem !important;
}
.mt-20 {
  margin-top: 2rem !important;
}
.mt-45 {
  margin-top: 4.5rem !important;
}
.mb-15 {
  margin-bottom: 1.5rem !important;
}
.mb-20 {
  margin-bottom: 2rem !important;
}
@media (min-width: 992px){
  .mt-lg-15 {
    margin-top: 1.5rem !important;
  }
  .mt-lg-25 {
    margin-top: 2.5rem !important;
  }
}  
@media (max-width: 991px){
  .mt-md-0 {
    margin-top: 0 !important;
  }
  .mb-md-0 {
    margin-bottom: 0 !important;
  }
  .mb-md-05 {
    margin-bottom: .5rem !important;
  }
  .mb-md-10 {
    margin-bottom: 1rem !important;
  }
  .mt-md-15 {
    margin-top: 1.5rem !important;
  }
  .pt-md-0 {
    padding-top: 0 !important;
  }
  .pb-md-0 {
    padding-bottom: 0 !important;
  }
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}

.aspect-ratio-4x3 {
  aspect-ratio: 5/3 !important;
}
.aspect-ratio-5x3 {
  aspect-ratio: 5/3 !important;
}

/* UTILITY CLASSES END */

.your-home-sold {

  h3 {
    //color: #4f4f4f;
    font-size: 1.3rem;
    font-family: font-Lato-700;    
    margin: 0;     
  }
  h4 {      
    //color: #4f4f4f;
    font-family: font-Lato-700;
    font-size: clamp(.9rem, 3.5vw, 1.05rem) !important;
    //font-weight: 500 !important;
    line-height: 1.1 !important;    
    text-transform: uppercase;
    margin: 2rem 0 0;
  }
  
  p,  
  li {      
    //color: #555;
    font-family: font-Manrope-400;
    font-size: 1rem;    
  }
  
  p {       
    line-height: 1.8;           
    margin-block: 1rem;              
    @media(max-width: 991px) {
      line-height: 1.65;
    }    
    &.red {
      margin-top: 2rem; 
    }
    strong {
      font-weight: 500 !important;
    }
    em {
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
  }  

  li {
    line-height: 1.65;
    &:not(:last-child) {
      margin-bottom: .5rem;  
    }
  }

  ul {
    @include mixins.check-style-list--red-outline;
    margin-block: 1rem;
  }    

  .has-counter {
    counter-increment: css-counter 1;
    padding-left: 35px;
    position: relative;
    &:before {
      content: counter(css-counter) " " !important;
      background-color: var(--si-primary-color) !important;
      color: white !important;
      font-size: 1.7rem !important;
      font-weight: 500;
      height: 26px !important;
      width: 26px !important;
      display: flex !important;
      align-items: center;
      justify-content: center;
      border-radius: 50%; 
      position: absolute;
      left: 0;  
      top: .3em !important; 
    }
  }

  li.has-counter {
    &:before {
      transform: scale(.85);
      transform-origin: left;
    }
  }
  .li-h3.has-counter {
    &:before {
      top: .1em !important; 
    }
  }

  ol {
    li {
      &.has-counter {
        margin-bottom: .5rem !important;
        padding-left: 1.9em !important;
        &:before {
          font-size: .9rem !important;
          top: 0 !important;  
        }
      }
    }
  } 

  img {
    margin: 0 auto !important;
  }

  .btn {        
    color: white;
    background-color: var(--we-red);    
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    padding: .8rem 1.5rem;  
    border-radius: 2px;     
    display: flex;
    justify-content: center; 
    transition: all .25s ease-out;
    width: max-content;          
    &:hover {
      background-color: var(--we-red-hover);     
    }
  }

  .content-padding {
    padding: 0 var(--space);
    & > h3 {
      padding-top: var(--space);
      //padding-bottom: .5rem;
      .t--bg-0 {    
        color: #fff;
        background-color: var(--we-red);
        font-family: font-Lora-600;
        font-size: .9rem;
        letter-spacing: .01rem;
        display: inline-block;
        width: max-content;
        border-radius: 1px;
        padding: .6rem .7rem;
        margin-bottom: 1.2rem;     
        text-transform: uppercase; 
      }
      .t--bg-1 {        
        //color: #4f4f4f;
        font-family: font-Lato-700;
        font-size: clamp(1.25rem, 3vw, 1.35rem);
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: left;
        line-height: 1.1;  
        width: 100%;
      } 
    }       
  }

  .flex-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4.5rem;
    //border-top: 1px solid var(--c-light);
    //box-shadow: 2px 10px 15px 1px rgba(0,0,0,0.08);
    border: 1px solid hsl(0, 0%, 94%);
    border-radius: 3px;
    box-shadow: 4px 6px 8px 1px rgba(0,0,0,0.05);
    @media only screen and (max-width: 1199px) {
      &.mobile-flip {
        flex-wrap: wrap-reverse;
      }
    }
    @media(max-width: 767px) {
      margin-top: 2.5rem;
    }
  }

  .flex-col {
    width: 50%;  
    @media only screen and (max-width: 1199px) {
      width: 100%;
      background: var(--c-light);
    }    
  }

  .text-wrapper {      
    margin-bottom: var(--space);              
  }

  .img-wrapper {      
    width: 100%;
    overflow: hidden;   
    display: grid;        
    @media (max-width: 991px){
      padding-top: calc(var(--space) * .25);  
    }
    .img-main {
      width: 100%;
      min-width: 100%;
      height: 100%;
      //margin-bottom: -2px;
      aspect-ratio: 16/9; 
      @media(min-width: 992px) {
        aspect-ratio: 5/3;
      }       
      @media(min-width: 1200px) and (max-width: 1399px) {
        min-height: 504px;
      }      
      @media(min-width: 1400px) and (max-width: 1599px) {
        min-height: 450px;
      }
      &.cover {         
        object-fit: cover;    
      }
      &.contain {         
        object-fit: contain;
        padding: 1rem;    
      }           
    }
  }   

  // .video-wrapper {
  //   width: 100%;    
  //   height: auto;        
  //   box-shadow: 2px 3px 6px 1px rgba(0,0,0,0.05);
  //   iframe {
  //     aspect-ratio: 3/2;
  //     object-fit: cover;
  //     width: 100%;
  //     height: auto;
  //     max-height: unset !important;  
  //     margin: auto;        
  //   }  
  // }
  // .video-title-wrapper {
  //   h4 {
  //     color: #444;
  //     font-family: font-Lato-700 !important;
  //     font-size: 1.15 !important;
  //     text-wrap: balance;
  //     margin-top: 2.5rem !important;
  //   }
  //   p {
  //     color: #555;
  //     margin-block: .2rem 1.1rem !important;
  //     line-height: 1.4;
  //   }
  // }

   .mobile-view {
    display: none;
  }

  .d-none {
    @media only screen and (max-width: 1199px) {  
      padding-top: 20px;
    }
    img {
      width: 100%;
      height: auto;
      padding: 1rem 0;
    } 
  }
  .desktop-view {
    @media only screen and (max-width: 1199px) {  
      display: none;
    }
  }
  .mobile-view {
    @media only screen and (max-width: 1199px) {  
      display: block;
      margin-top: var(--space);      
      position: relative;
      left: calc(-1 * var(--space));       
      right: calc(-1 * var(--space)); 
      bottom: 0;
      width: calc(100% + (2 * var(--space))) !important;
    }
  } 

  .toggle {
    text-align: right;
    border-top: 5px solid var(--we-red);
    line-height: 0.9;
    margin-top: -1px;
    .toggle-button {
      color: #fff !important;
      background: var(--we-red) !important;
      border: none;
      padding: 6px 12px 10px;
      font-size: 12px !important;
      font-family: font-Manrope-400;
      line-height: 1;
      margin-top: -1px;
      text-transform: uppercase;
      border-radius: 0 0 1px 1px;
      width: 116px;
      &:after {
        content: "+";
        font-size: 125%;
        padding-left: 4px;
      }
      &.opened::after {
        content: "-";
        padding-left: 4px;
      }  
    }
  }
  .step-1,
  .step-2,
  .step-3,
  .step-4,
  .step-5,
  .step-6,
  .step-7,
  .step-8,
  .step-9,
  .step-10,
  .step-11 {
    .d-none {
      display: none;
      padding-bottom: 20px;
    }
  } 

  #strategy-1,
  #strategy-2,
  #strategy-3,
  #strategy-5,
  #strategy-6,
  #strategy-7,
  #strategy-8,
  #strategy-10,
  #strategy-11,
  #strategy-12,
  #strategy-13,
  #strategy-14,
  #strategy-15,
  #strategy-16,
  #strategy-17,
  #strategy-18,
  #strategy-19,
  #strategy-20 {
    border-bottom: 5px solid var(--we-red);
  }
  

  #questions {
    h4 {    
      font-family: font-Lato-700;
      font-size: 1.15rem !important;  
      line-height: 1.4 !important;
      opacity: .9;
      text-transform: none;
      margin-top: 1.5rem;   
      span {			
        color: #fff;
        background-color: var(--we-red);
        font-size: .75rem;
        border-radius: 50%;
        min-width: 1.45rem;
        min-height: 1.45rem;
        aspect-ratio: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left:0;
        top: -.1rem;
        margin-right: .2rem;			
      } 
    }
  }

  // #thankyou {
  //   .flex-col {
  //     .img-wrapper {
  //       .img-main {
  //         @media (min-width: 1200px){
  //           min-height: 360px;
  //         }
  //       } 
  //     }
  //   } 
  // }
}

.your-home-sold {  

  .flex-col {
    hr {
      margin: 5px 0 !important;
      border-color: hsl(0, 0%, 90%) !important;
    } 
  }

  .flex-3-col,
  .flex-2-col {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    .flex-item {
      img {
        max-width: 90%;
      }
    }
  }
  .flex-3-col {
    .flex-item {
      width: 33.3333%;
      text-align: center;
    }
  }
  .flex-2-col  {
    .flex-item {
      width: 50%;
      text-align: center;
    }
  }  
  
}   


/* SECTIONS START */

#marketing-strategies {
  .flex-row-reverse {
    @media(min-width: 992px) {
      flex-direction: row-reverse;    
    }
  }
  .flex-col {
    min-height: 100%;       
  }
}  

#proven-steps {
  .title-wrapper {
    margin: 4rem 0 4.5rem;  
  }
  // .flex-col {
  //   .img-wrapper {
  //     .img-main {
  //       @media (min-width: 1200px){
  //         min-height: 360px;
  //       }
  //     } 
  //   } 
  // } 
} 

#seller-resources {
  // .flex-col {
  //   .img-wrapper {
  //     .img-main {
  //       @media (min-width: 1200px){
  //         min-height: 440px;
  //       }
  //     } 
  //   } 
  // }
}

#marketing-strategies {
  // .flex-col {
  //   .img-wrapper {
  //     .img-main {
  //       @media (min-width: 1200px){
  //         min-height: 340px;
  //       }
  //     }
  //   }
  // }
}      

.step-2 {
  .comparison-slider {
    .images {
      .img-1{
        background-image: url('https://cdn.lofty.com/image/fs/844773431365048/website/174974/cmsbuild/2026611_5d89b64eee4e4625.jpeg');
      } 
      .img-2{
        background-image: url('https://cdn.lofty.com/image/fs/844773431365048/website/174974/cmsbuild/2026611_6ded18990c1f4db8.jpeg');  
      } 
    }
  } 
  ul {
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
    text-align: left;
    li {
      margin: .1rem 0 !important; 
    }
  }
  .img-caption {
    margin-block: 0;
    line-height: 1;
    text-transform: uppercase;
    font-family: font-Lato-700;
  }
} 

#strategy-5 {
  .carousel {
    img {        
      @media(min-width: 1200px) and (max-width: 1399px) {
        aspect-ratio: 3/2 !important;
      }
    }
  }
}

#strategy-6-video-grid {
  .videos {
    padding-block: 3rem 0;
    .grid {
      .col {
        flex-direction: column !important;
        .video-caption {
          text-align: center;
          margin-bottom: 1.5rem;
          h3 {
            text-align: center;
            font-family: font-Lato-700;
            text-transform: uppercase;
            font-size: clamp(1.1rem, 5vw, 1.2rem);
            line-height: 1.2;
            margin-bottom: .5rem;
          }
          p {
            font-size: 1rem;
            margin-block: 0 !important;
          }
        }
      }
    }
  }
}

#strategy-7 {
  .comparison-slider {
    aspect-ratio: 20/13 !important;    
    @media(min-width: 1200px) and (max-width: 1399px) {
      aspect-ratio: 1 !important; ;
    }
    @media(min-width: 1400px) and (max-width: 1499px) {
      aspect-ratio: 100/85 !important; ;
    }
    @media(min-width: 1500px) and (max-width: 1599px) {
      aspect-ratio: 100/74 !important; ;
    }
    @media(min-width: 1600px) and (max-width: 1666px) {
      aspect-ratio: 100/68 !important; ;
    }
    @media(min-width: 1700px) {
      aspect-ratio: 100/65 !important;
    }
    .images {
      .img-1{
        background-image: url('https://cdn.lofty.com/image/fs/844773431365048/website/174974/cmsbuild/2026611_7bb403198b1d4660.jpeg');
      }  

      .img-2{    
        background-image: url('https://cdn.lofty.com/image/fs/844773431365048/website/174974/cmsbuild/2026611_9ff60a99b01e499e.jpeg'); 
        height: 112% !important;
      } 
    } 
  }
}

/* YOU HOME SOLD SECTION END */