@use 'mixins';

@include mixins.top-banner;
//@include mixins.fixing-h2-title;
//@include mixins.title-strip;
//@include mixins.title-eyebrow;

.md-banner.layout1 {
  .banner {
    padding-bottom: 7rem;
  }
}

.md-cta.layout7 {
  padding-block: 0 var(--section-padding-block-sm) !important;
  position: relative;
  .cta-container {
    max-width: 1000px;
    margin-inline: auto;
    flex-direction: column-reverse !important;
    gap: 3rem;
    background-color: #fff;
    box-shadow: 3px 4px 12px 1px rgba(#000, .05);
    position: relative;
    top: -7rem;
    margin-bottom: -7rem;
    z-index: 1;
    border-radius: 5px;
  }
  .bottom-content {
    height: auto;
    img {
      object-fit: contain;
    }
  }
  .top-content {
    padding: 0 6% 60px;
    @media(max-width: 575px) {
      padding: 0 15px 30px;
    }
    .title-box {
      gap: 0;
      h2 {
        color: var(--g-text-color);
        font-size: clamp(2rem, 2vw, 3rem);
        line-height: 1;
        border-top: 1px solid rgba(#000, .1);
        padding-top: 2.5rem;
        margin-bottom: 1.6rem;
        span {
          font-size: 1em !important;
        }
      }
      h3 {
        font-size: clamp(2rem, 2vw, 3rem);
        line-height: 1;
        font-family: var(--mg-title-font);
        text-transform: uppercase;
        border-top: 1px solid rgba(#000, .1);
        padding-top: 2.5rem;
        margin-block: 1.5rem 1.6rem;
      }
      p {
        line-height: 1.8;
      }
    }
    .btn-item {
      i {
        display: none;
      }
    }
  }
}

.md-cta.layout7 + .md-agent-contact.template8 {
  padding-block: 0 var(--section-padding-block) !important;
  background-color: rgba(250, 248, 242, 1);
  .mg-title {
    display: none;
  }
  .agent-contact-content {
    padding: 2rem 1rem;
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: 3px 4px 12px 1px rgba(#000, .05);
    margin-block: 12px;
  }
}

@include mixins.contact-info;

.md-agent-contact.template8 + .md-custom-code.html-code {
  @include mixins.accolades;
} 

@include mixins.testimonials;

@include mixins.contact-form;

.md-form.layout11 + .md-custom-code.html-code {
  background-color: var(--we-red);    
  padding-block: calc(1.8rem + .7vw);
  .title-strip {
    max-width: 100% !important;
  }
  h2 {
    font-size: clamp(1.7rem, 2.7vw, 2.5rem) !important;
    line-height: 1.1 !important;
    text-wrap: balance;
  }     
}