@use 'mixins';
@use 'standard-layout';

@include mixins.top-banner;
@include mixins.title-wrapper;
@include mixins.section-title-eyebrow;

.site.blank .md-header.layout2.transparent {
  .header-bg {
    background-color: var(--we-blue) !important;
  }
}

.md-custom-code + .md-custom-code {
  //background-color: #f8f8f8;
  padding-block: calc(var(--section-padding-block) + 100px) var(--section-padding-block) !important;
  .mg-container {
    --padding-for-shadow: 12px;
    --module-width: calc(1512px + var(--padding-for-shadow));
  }
}
.buyers-guide {
  padding-inline: var(--padding-for-shadow);
  ul {
    @include mixins.check-style-list--red-outline;
  }
}
