@use 'standard-content-style';

.bah .flex-col--img .img-wrapper span {
  font-size: 1.15rem;
  font-weight: bold;
  line-height: 1.2;    
  font-weight: 700;
  text-align: center;
  margin-bottom: .6rem;
  display: block;
}