.site.blank.template41 {
  .content-wrapper,
  .title-box {
    .site-title {
      font-size: clamp(1.5rem, 2.7vw, 2.3rem) !important;
      line-height: 1 !important;
    }
  }  
  .cta-content {
    .site-title {
      line-height: 1 !important;
    }
  }
}

.md-banner.layout2.mobile.revert {
  @media(max-width: 600px) {
    flex-direction: column-reverse;
  }
}

.md-banner.layout1 + .md-banner.layout2 {
  @media(max-width: 600px) {
    .banner.single {
      display: none;
    }
  }
}

.md-cta.layout9 + .md-custom-code.html-code,
.md-banner.layout2 + .md-custom-code.html-code {
  background-color: var(--we-blue);
  padding-block: calc(2rem + 1vw);
  .f-col {
    text-align: center;
    max-width: 1000px !important;
    h2 {
      color: #fff;  
      font-family: var(--mg-title-font);
      font-size: clamp(2rem, 3vw, 2.9rem) !important;
      line-height: 1;
      text-wrap: balance
    }
    p {
      color: #fff;  
      font-size: 1.05rem;
      line-height: 1.65;
      margin-top: 1.5rem;
      text-wrap: pretty;
    }
  }
}

.md-cta.layout14 {
  .content {
    min-height: unset !important;
  }
  .site-card {
    max-width: 600px;
    margin-inline: auto;
  }
  .site-title {
    line-height: 1.1 !important;
    text-wrap: balance;
  }
}

.md-cta.layout1 {
  .banner {
    min-height: unset !important;
    padding-block: 90px !important;
    @media(max-width: 600px) {
      padding-block: 50px !important;
    }
  }
}

.md-content.layout8 {
  padding-bottom: 10px !important;
}

.md-content.layout8 + .md-cta.layout1 {
  padding-block: 0 80px;
  .banner {
    min-height: unset !important;
  }
  .site-title {
    margin-bottom: 0 !important;
  }
}

#liquidation-guide {
  scroll-margin-top: 150px;
  @media(max-width: 600px) {
    scroll-margin-top: 120px;
  }
}

.md-custom-code.html-code + .md-custom-code.html-code {
  background-color: var(--g-bg-color);
  padding-block: 80px;
  @media(max-width: 767px) {
    padding-block: 40px;
  }
  #liquidation-guide-grid {
    max-width: 1240px;
    margin-inline: auto;
    h3 {
      font-family: var(--mg-title-font);
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 1rem;
      color: #222;
    }
    .lead {
      font-size: 1.05rem;
      text-align: center;
      margin-bottom: 50px;
      color: #333;
    }
    .row {
      --gap-x: 16px;
      --gap-y: 32px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-inline: calc(-1 * var(--gap-x));
      margin-top: calc(-1 * var(--gap-y));

      .col {
        width: 33%;
        flex: 0 0 33%;
        padding-inline: var(--gap-x); 
        padding-top: var(--gap-y);
        @media(max-width: 991px) {
          width: 50%;
          flex: 0 0 50%;
        } 
        @media(max-width: 600px) {
          width: 100%;
          flex: 0 0 100%;
        } 
      }     
      
      .card {
        background-color: #fff;
        border: 1px solid #f0f0f0;
        border-radius: 2px;
        padding: 66px 20px 20px;
        height: 100%;
        position: relative;
        span {
          background-color: var(--we-blue);
          color: #fff;
          font-family: var(--mg-title-font);
          font-size: 20px;
          height: 48px;
          width: 100%;
          border-radius: 2px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
        }
        ul {
          padding-left: 1.7rem !important;
          margin-bottom: 12px;
        }
        p, li {
          font-size: 16px;
          line-height: 1.65;
          color: #333;
        }
        p {
          margin-bottom: 12px;
        }
        li {
          margin-bottom: 2px;
        }
      }
    }
  }
}