@use 'mixins';

@include mixins.fixing-header;
@include mixins.fixings;
@include mixins.title-strip;
@include mixins.fixing-h2-title;

.md-banner.layout1 + .md-custom-code.html-code,
.md-cta.layout9 + .md-custom-code.html-code,
.md-banner.layout2 + .md-custom-code.html-code {
  background-color: var(--we-blue);
  padding-block: calc(2rem + 1vw);  
}

.md-cta.layout9 {  
  .site-p {
    p {
      line-height: 1.65;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
  .banner-button-v2 {
    margin-top: 1rem;
    @media(max-width: 767px) {
      justify-content: center !important;
    }
    a {
      min-width: 200px !important;
    }
  }
}

.md-cta.layout1 {
  .banner {
    min-height: unset !important;
    padding-block: 90px !important;
    @media(max-width: 600px) {
      padding-block: 50px !important;
    }
  }
}

.md-content.layout8 {
  padding-bottom: 10px !important;
}

.md-content.layout8 + .md-cta.layout1 {
  .banner {
    padding-block: var(--section-padding-block);
    min-height: unset !important;
  }
  .site-title {
    margin-bottom: 0 !important;
  }
}

.md-cta.layout14 {
  .content {
    min-height: unset !important;
  }
  .site-card {
    max-width: 600px;
    margin-inline: auto;
  }
  .site-title {
    line-height: 1.1 !important;
    text-wrap: balance;
  }
}

#liquidation-guide {
  scroll-margin-top: 150px;
  @media(max-width: 600px) {
    scroll-margin-top: 120px;
  }
}

.md-custom-code.html-code + .md-custom-code.html-code {
  padding-block: var(--section-padding-block);  
}

.full-service-estate-liquidation {
  @include mixins.section-service-estate-liquidation;
}
