@use 'mixins';

@include mixins.fixing-header;
@include mixins.title-strip;
@include mixins.fixing-h2-title;

.md-banner.layout1 + .md-custom-code.html-code,
.md-cta.layout1 + .md-custom-code.html-code  {
  background-color: var(--we-blue);
  padding-block: calc(2rem + 1vw);
}

.pulse-ring {
  animation: pulseRing 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulseRing {
  0%,
  100% {
      box-shadow: 0 0 0 0 rgba(#d3222a, .45);
  }
  50% {
      box-shadow: 0 0 0 18px rgba(#d3222a, 0);
  }
}

.md-custom-code.html-code + .md-custom-code.html-code {
  .custom-code-html-content {
    padding-block: var(--section-padding-block);
  }
}

.md-custom-code.html-code + .md-custom-code.html-code + .md-custom-code.html-code {
  .custom-code-html-content {
    padding-block: 0 var(--section-padding-block);
  }
}

.intro {  
  max-width: 1000px;
  margin-inline: auto;
  text-align: center;
  .icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    svg {
      fill: var(--we-red);
      width:70px;
      height: 70px;
      margin-top: 5px
    }
  }
  h2 {    
    color: #333;
    font-family: var(--mg-title-font);
    font-size: clamp(1.7rem, 7vw, 2.5rem);
    line-height: 1.1;
    text-wrap: balance;
    text-transform: uppercase;
    margin-block: 2rem 1.8rem;    
    span {
      color: var(--we-red);
    }
  }
  p {
    line-height: 1.65;
    font-size: 1.1rem;
    color: #444;
    span {
      color: var(--we-red);
      font-weight: 700
    }
  }
  .lead {
    font-size: 1.2rem !important;
    margin-bottom: 1rem;
  }
}

.list-of-charities {
  h3 {
    color: #444;
    font-family: font-Lato-700;
    font-size: clamp(1.25rem, 5.5vw, 1.8rem);
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    text-wrap: balance;
    margin-bottom: 3rem;
    width: 100%;    
  }     
  ul {      
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media(max-width: 992px) {
      grid-template-columns: 1fr 1fr;
    }
    @media(max-width: 767px) {
      grid-template-columns: 1fr;
    }
    gap: 10px;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    li {
      color: #444;
      font-size: 1rem;
      line-height: 1.5;
      align-content: center;
      height: 100%;
      width: 100%;
      padding: 1rem 1.5rem 1rem 2.7rem !important;
      box-shadow: 2px 3px 4px rgba(0,0,0,0.03);
      border-radius: 2px;
      border: 1px solid rgba(0,0,0,0.1);
      position: relative;
      &:before {
        content: '';
        width: 1rem;
        height: 1rem;
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background-image: url("data:image/svg+xml;base64,PHN2ZyBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjIiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMTIgNS43MmMtMi42MjQtNC41MTctMTAtMy4xOTgtMTAgMi40NjEgMCAzLjcyNSA0LjM0NSA3LjcyNyA5LjMwMyAxMi41NC4xOTQuMTg5LjQ0Ni4yODMuNjk3LjI4M3MuNTAzLS4wOTQuNjk3LS4yODNjNC45NzctNC44MzEgOS4zMDMtOC44MTQgOS4zMDMtMTIuNTQgMC01LjY3OC03LjM5Ni02Ljk0NC0xMC0yLjQ2MXoiIGZpbGwtcnVsZT0ibm9uemVybyIgZmlsbD0iI2QzMjIyYSIgLz48L3N2Zz4=");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }      
    }    
  }
}

.md-cta.layout1 {
  h2 {
    text-wrap: balance;
    line-height: 1.1;
  }
}