@use 'mixins';

:root {
  --header-height: 104px;
  --section-padding-block: 70px;
  --section-padding-block-sm: 50px;
  @media(max-width: 575px) {
    --header-height: 84px;
    --section-padding-block: 40px;
    --section-padding-block-sm: 30px;
  }

  --we-blue: #024883;
  --we-blue-hover: #054479;
  --we-red: #d3222a;
  --we-red-hover: #c02229;
}

// BG COLORS
.bg-blue {
  background-color: var(--we-blue) !important;
}
.bg-red {
  background-color: var(--we-red) !important;
}

// TEXT COLORS 
.text-white {
  color: #fff !important;
}
.text-blue {
  color: var(--we-blue) !important;
}
.text-red {
  color: var(--we-red) !important;
}

// UTILITIES
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.d-inline-block {
  display: inline-block;
}


// BTNS
.banner-button-v2 {
  .btn-item {
    transition: all .25s ease-out;
  }
}

.btn-red {
  color: #fff !important;
  background-color: var(--we-red) !important;
  border-color: var(--we-red) !important;
  &:hover, &:active, &:focus {
    background-color: var(--we-red-hover) !important;
    border-color: var(--we-red-hover) !important;
  }
}


// HEADER

.md-header {
  .logo {
    margin-block: 0;
  }
  .head-menu {
    & > li {
      &:last-child {
        &:before {
          display: none !important;
        }
      }
      @media(min-width: 992px) and (max-width: 1499px) {
        margin-right: 10px !important;
      }
    }
    
    [href="/tel:+1410-461-2800"] {
      border: 1px solid #fff;
      padding: .8rem 1rem !important;
      display: flex !important;
      align-items: center;
      text-align: center;
      justify-content: center;
      transition: all .25s ease-out;
      &:hover {
        background-color: #fff;
        color: #222;
      }
    }

    .submenu {      
      .menu-item {
        &:not(:first-child) {
          border-top: 1px solid rgba(#000, .05)
        }
        a {
          font-family: font-Manrope-700;
          text-transform: uppercase;
        }
        &:hover {
          background-color: var(--we-red) !important;
          a {
            color: #fff;
          }
        }
      }
    }
  }
}

.md-header.layout2 {
  position: fixed;
  .header-bg {
    background: transparent !important;
  }
}

// FOOTER

.md-footer.layout3 {
  .site-logo {
    border-bottom: 1px solid var(--g-tip-color);
    padding-bottom: 45px;
    & > a {
      margin-inline: auto;
      display: block;
      width: max-content;
    }
    .logo-item {
      margin-right: 0 !important;
    }
  }
  .main-menu {
    .footer-submenu {
      display: flex !important;
    }
    [href="/tel:+1410-461-2800"] {
      display: none !important;
    }
  }
  .detail-phone {
    a {
      position: relative;
      margin-left: -.85rem;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: #191919;
        width: .85rem;
        height: 100%;
      }
    }
  }
  .share-links {
    margin-top: 30px !important;
    .share-item {
      width: 40px !important;
      height: 40px !important;
      border: 1px solid var(--g-tip-color);
      border-radius: 1px;
      transition: all .24s ease-out;
      i {
        font-size: 18px;
      }
      &:hover {
        border: 1px solid #fff;
      }
    }
  }
  .custom-content {
    [href="/about"] {
      background-color: var(--we-red);
      padding: .75rem 1.5rem;
      margin-top: 1rem;
      display: inline-block;
      transition: all .25s ease-out;
      border-radius: 1px;
      &:hover {
        background-color: var(--we-red-hover);
      }
    }
  }
}
