@use 'mixins';

@include mixins.title-strip;
@include mixins.md-cta-layout1;
//@include mixins.fixing-h2-title;
//@include mixins.title-eyebrow;

.md-hero.layout3 {
  .banner {
    min-height: 70dvh !important;
    height: fit-content;
    padding-block: calc(var(--section-padding-block) + var(--header-height) - 3rem) var(--section-padding-block);
  }
  .video-box {
    position: relative;
    &:before {
      content: '';
      inset: 0;
      background-color: rgba(0,0,0,0.3);
      position: absolute;
      z-index: 1;
    }
    video {
      height: auto !important;
    }
  }
  .media-content-v2 {
    max-width: 1170px;
  }
  .site-title {
    font-size: unset !important;    
    h1 {
      font-size: unset !important;
      line-height: 1.1 !important;
      font-size: clamp(1rem, 3vw, 1.3rem) !important;
      span {
        font-size: unset !important;
      }
    }
    h2 {
      font-size: clamp(2.7rem, 6vw, 4.4rem) !important;
      line-height: 1 !important;
      padding-block: 1.5rem 2rem;
      span {
        font-size: unset !important;
      }
    }      
  
    & + .site-title {
      font-size: clamp(14px, 5vw, 18px) !important;
      line-height: 1.65;
      text-align: center !important;
      span {
        font-size: unset !important;
      }
    }  
  }
     
  .tab-header {
    width: 100%;
    height: auto !important;
    &-ul {
      display: none !important;
    }
    ul {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: transparent !important;
      gap: 5px;
      @media(max-width: 767px) {
        grid-template-columns: 1fr;
      }
      li {
        width: 100%;
        a {
          transition: all .25s ease-out;
          text-transform: uppercase;
          background: transparent;
          border: 1px solid #fff;
          font-family: font-Lato-700 !important;
          background-color: rgba(25,25,25, .2);
          $size: 55px;
          line-height: $size;
          min-height: $size;   
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          &:hover {
            background-color: #fff!important;
            color: #444 !important;
          }
        }        
      }
    }
  }
  .tab-body {
    margin-top: 20px;
    .search-category {
      flex-wrap: wrap;
      .keyword {
        @media(max-width: 575px) {
          width: 100%;  
        }
      }
      .keyword-submit {
        text-transform: uppercase;
        background-color: var(--we-blue) !important;
        transition: all .25s ease-out;
        width: calc((100% / 3) / 2 - 1.66px);
        @media(max-width: 575px) {
          width: 100%;  
        }
        &:hover {
          background-color: var(--we-blue-hover);
        }
      }
    }
  }
}

.md-listing-search.template4 {
  padding: 0 !important;
  margin: 0 !important;
  display: none;
}

.md-cta.layout5 {
  padding-block: 30px !important;
  .layout5-inner {
    justify-content: center;
  }  
  .btn-item {
    border: 1px solid #fff !important;
  }  
}

.md-cta.layout5  + .md-custom-code.html-code {
  background-color: var(--we-blue);
  text-align: center;
  padding-block: 50px;
  @media(max-width: 767px) {
    padding-block: 40px;
  }
  h2 {   
    font-size: clamp(2.5rem, 3vw, 4rem) !important;    
  } 
  p {
    font-size: clamp(1.2rem, 3vw, 2rem) !important;
    font-family: font-Lato-300;
    letter-spacing: 0.06em;
    opacity: 0.85;
    margin-top: .5rem;
    line-height: 1.1 !important;
  }
}

.md-cta.layout14 {
  .content {
    min-height: max-content !important;
  }
  .site-img {
    position: relative;
    .img-mask {
      transition: all .3s ease-out;
    }
    &:before {
      content: '';
      position: absolute;
      inset: 1rem;
      z-index: 2;
      border: 1px solid #fff;
    }
    &:hover {
      &:before {
      border-width: 2px; 
      }
      .img-mask {
        background-color: #191919 !important;
      }
    }
  }
  .site-card {
    padding: 0 !important;
  }
  .site-title {
    h2 {
      line-height: 1 !important;
      span {
        display: inline-block;
        &:first-child {
          padding-bottom: 1.5rem;
        }
      }
    }
  }
  .site-p {
    max-width: 580px;
  }
  .button.plain {
    transition: all .25s ease-out;
    &:hover {
      background-color: #fff !important;
      color: #222 !important;
    }
  }
}

// MEET THE BIMS
.md-cta.layout14 + .md-custom-code.html-code {
  padding-block: var(--section-padding-block) 4rem;
}
.meet-the-bims {
  @include mixins.title-wrapper; 
  max-width: 1170px;
  margin-inline: auto;
  .title-wrapper {
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem !important;
  }
  .contact-list {
    list-style: none !important;
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-inline: auto; 
    margin-bottom: 2.5rem;
    padding: 0 !important;
    li {
      a {
        width: 50px;
        height: 50px;
        display: block;
        background-color: var(--we-blue);
        border-radius: 50%;
        padding: 28%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .25s ease-out;
        &:hover {
          background-color: var(--we-red);
          transform: scale(1.1);
          transform-origin: center;
        }
      }
      i {          
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        &:before {
          content: '';
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
        }
      }
      .icon-phone:before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmIj48cGF0aCBkPSJNMjAgMjIuNjIxbC0zLjUyMS02Ljc5NWMtLjAwOC4wMDQtMS45NzQuOTctMi4wNjQgMS4wMTEtMi4yNCAxLjA4Ni02Ljc5OS03LjgyLTQuNjA5LTguOTk0bDIuMDgzLTEuMDI2LTMuNDkzLTYuODE3LTIuMTA2IDEuMDM5Yy03LjIwMiAzLjc1NSA0LjIzMyAyNS45ODIgMTEuNiAyMi42MTUuMTIxLS4wNTUgMi4xMDItMS4wMjkgMi4xMS0xLjAzM3oiLz48L3N2Zz4=");
      }
      .icon-envelope:before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmIj48cGF0aCBkPSJNMTIgMTIuNzEzbC0xMS45ODUtOS43MTNoMjMuOTdsLTExLjk4NSA5LjcxM3ptMCAyLjU3NGwtMTItOS43MjV2MTUuNDM4aDI0di0xNS40MzhsLTEyIDkuNzI1eiIvPjwvc3ZnPg==");
      }
      .icon-map-marker:before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmIj48cGF0aCBkPSJNMTIgMGMtNC4xOTggMC04IDMuNDAzLTggNy42MDIgMCA0LjE5OCAzLjQ2OSA5LjIxIDggMTYuMzk4IDQuNTMxLTcuMTg4IDgtMTIuMiA4LTE2LjM5OCAwLTQuMTk5LTMuODAxLTcuNjAyLTgtNy42MDJ6bTAgMTFjLTEuNjU3IDAtMy0xLjM0My0zLTNzMS4zNDMtMyAzLTMgMyAxLjM0MyAzIDMtMS4zNDMgMy0zIDN6Ii8+PC9zdmc+");
      }
    }
  }

  .row {
    display: flex;    
    flex-direction: row;
    @media(max-width: 991px) {
      flex-direction: column;
      gap: 2rem;
    }
  }  

  .col {
    width: 100%;
    @media(min-width: 992px) {
      &:first-child {
        width: 42%;
      }
      &:last-child {
        width: 58%;
        padding-left:40px;
      }
    }
  }

  .video-wrapper {
    iframe {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      @media(min-width: 1200px) {
        aspect-ratio: 5/3;
      }
    }
  }

  .img-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;
  }
  .img-link {
    display: inline-block;    
    height: fit-content;
    transition: all .25s ease-out;
    &:hover {
      opacity: .9;
    }
    img {
      height: auto;
      width: 200px;      
    }
  }

  .site-p {
    p {
      color: #000;
      font-family: font-Manrope-500;
      font-size: 1.1rem;
      line-height: 1.65;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  .btn-wrapper {
    width: 100%;
    margin-top: 2.5rem;
    .btn-item {
      margin: 0 !important;
      width: 100% !important;     
      display: flex;
      font-size: 16px;
      width: 200px;
      height: 50px;
    }
  }
 
}

.md-cta.layout11 {
  padding-top: 0 !important;
  .cta-container {
    background-color: #fff;
    padding: 3rem;
    box-shadow: 2px 3px 8px 3px rgba(#000, .1);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1170px;
    @media(max-width: 767px) {
      flex-wrap: wrap;
      padding: 1rem;
    }
  
  }
  .img-content {
    min-height: unset;
    width: 300px;
    clip-path: none !important;
  }
  .text-content {    
    gap: 30px;
    flex: unset;
    @media(max-width: 767px) {
      padding-right: 0 !important;
      padding-top: 1rem;
    }
    h2 {
      line-height: 1.1;
      text-wrap: balance;
      @media(min-width: 768px) {
        text-align: left !important; 
      }
    }
    .site-subtitle {
      p {
        @media(min-width: 768px) {
          text-align: left !important; 
        }
      }
    }      
    .banner-button-v2 {
      @media(min-width: 768px) {
        justify-content: flex-start; 
      }
    }
  }
}

.md-cta.layout11 + .md-custom-code.html-code {
  @include mixins.accolades;
}  

.md-partner.layout1 {
  padding-block: 0 !important;
  background-color: var(--we-blue);
  .site-title {
    padding-block: 1rem;
    font-size: unset !important;
    h2 {
      font-size: clamp(1.2rem, 5vw, 2.2rem);
      span {
        font-size: unset !important;
      }
    }
  }
  .marquee-container {
    background-color: #fff !important;
    padding-block: 2rem;
  }
  .partner-img {
    filter: grayscale(0) !important;
  }
}

.md-partner.layout1  + .md-custom-code.html-code {
  background-color: var(--we-red);    
  padding-block: 2rem;
  h2 {
    font-family: var(--mg-title-font);    
    padding-block: 1rem;
  }     
}

// tem dois assim
.md-house.layout1 {
  @include mixins.fixing-title-in-lofty-sections; 
  @include mixins.adding-eyebrow-to-lofty-title; 
  padding-block: var(--section-padding-block) !important;
  .site-title {
    margin-bottom: 3.5rem;
  }
}

// PAST TRANSACTIONS
.md-cta.layout1 + .md-house.layout1 {
  .house-grid {
    @media (min-width: 901px) {
      grid-template-columns: repeat(4, 1fr) !important;
    }
  }
}

.md-form.layout13 {
  @include mixins.fixing-title-in-lofty-sections; 
  //@include mixins.adding-eyebrow-to-lofty-title;
  & > .f-col {
    max-width: 1024px;
    border: 1px solid rgba(255,255,255,.85);
    border-radius: 2px;      
    padding: 4rem 3rem !important;
    @media(max-width: 575px) {
      padding: 3rem 1.5rem !important;
    }
  }
  .site-title {
    position: relative;
    padding-top: 3.2rem;
    text-transform: uppercase;
    &:before {
      content: "BE THE 1st TO KNOW";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(255,255,255,.85) ;
      font-size: clamp(1rem, 3vw, 1.4rem);
      line-height: 1.1;
      font-family: font-Lato-400;
      letter-spacing: .05em;
    }    
  }
  .site-subtitle {
    margin-top: 30px !important;
  }
  .input-content {
    width: 100%;
    .v-input {
      @media(max-width: 575px) {
        width: 100%;
      }
      input {
        color: rgba(#fff, .9);
        border-color: rgba(#fff, .9);
        &::placeholder {
          color: rgba(#fff, .8) !important;
        }
      }
    }
  }
  .submit-content {
    width: 200px;
    .submit {
      color: var(--we-blue) !important;
    }
  }
}

  .md-form.layout13 + .md-custom-code.html-code {
    @include mixins.featured-areas;
  }

@include mixins.testimonials;  

@include mixins.contact-info;

@include mixins.contact-form;

.md-form.layout11 + .md-custom-code.html-code {
  background-color: var(--we-red);    
  padding-block: calc(1.8rem + .7vw);
  text-align: center;
  .title-strip {
    max-width: 100% !important;
  }
  h2 {
    font-size: clamp(1.7rem, 2.7vw, 2.5rem) !important;
  }     
}