@use 'mixins';

.md-hero {    
  .banner {
    min-height: 80dvh !important;
    height: fit-content;
    padding-block: calc(var(--section-padding-block) + var(--header-height)) var(--section-padding-block);
  }
  .video-box {
    position: relative;
    &:before {
      content: '';
      inset: 0;
      background-color: rgba(0,0,0,0.75);
      position: absolute;
      z-index: 1;
    }
    video {
      height: auto !important;
    }
  }
  .site-title {
    font-size: unset !important;
    h1 {
      font-size: unset !important;
      line-height: 1.2;
      span {
        font-size: clamp(18px, 3vw, 24px) !important;
      }
    }
    h2 {
      font-size: clamp(36px, 6vw, 70px) !important;
      line-height: 1.1;
      padding-block: 10px 30px;
    }      
  }    
  .banner-button-v2 {
    margin-top: 30px !important;
    column-gap: 10px !important;
    max-width: 1024px;
    width: 100%;    
    a {
      @media(min-width: 821px) {
        max-width: unset !important;
        width: unset !important;
        flex: 1 0 calc(33% - 10px);
      }
    }      
  }     
}

@keyframes showSearchBar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}  

.md-search-more-center.template4 {
  width: 100%;
  max-width: 1024px;
  padding: 10px;
  margin-top: 20px;
  opacity: 0;
  animation: showSearchBar .3s ease-out 1s forwards;
}

.md-listing-search.template4 {
  padding: 0 !important;
  margin: 0 !important;
  display: none;
}

.md-cta.layout5 {
  padding-block: 30px !important;
  .layout5-inner {
    justify-content: center;
  }  
  .btn-item {
    border: 1px solid #fff !important;
  }  
}

.md-cta.layout5  + .md-custom-code.html-code {
  background-color: var(--we-blue);
  padding-block: var(--section-padding-block);
  h2 {
    font-family: var(--mg-title-font);
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 1rem;
  } 
  p {
    font-size: 2.4rem;
    font-family: font-Lato-300;
    opacity: 0.85;
  }
}

.md-cta.layout14 {
  .site-p {
    max-width: 580px;
  }
}

.md-video.layout1 {
  
  & > .f-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media(max-width: 1199px) {
      grid-template-columns: 1fr;
    }
    align-items: center;
  }
  .title-wrap {
    @media(min-width: 1200px) {
      padding-right: 10%;
    }
    h2, .site-p {
      @media(max-width: 1199px) {
        text-align: center !important;
      }
    }
  }
  .video-content {
    aspect-ratio: 16/9;
    @media(min-width: 1200px) {
      aspect-ratio: 5/3;
    }
  }
  .d-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
    @media(max-width: 1199px) {
      justify-content: center;
    }
  }
  .btn-wrapper {
    width: fit-content;
    .btn-item {
      margin: 0 !important;
      @media(min-width: 1200px) and (max-width: 1399px) {
        min-width: 140px;
      }
    }
  }
  .contact-list {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    li {
      a {
        width: 42px;
        height: 42px;
        display: block;
        background-color: var(--we-blue);
        border-radius: 50%;
        padding: 27%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .25s ease-out;
        &:hover {
          background-color: var(--we-blue-hover);
        }
      }
      i {          
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        &:before {
          content: '';
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
        }
      }
      .icon-phone:before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmIj48cGF0aCBkPSJNMjAgMjIuNjIxbC0zLjUyMS02Ljc5NWMtLjAwOC4wMDQtMS45NzQuOTctMi4wNjQgMS4wMTEtMi4yNCAxLjA4Ni02Ljc5OS03LjgyLTQuNjA5LTguOTk0bDIuMDgzLTEuMDI2LTMuNDkzLTYuODE3LTIuMTA2IDEuMDM5Yy03LjIwMiAzLjc1NSA0LjIzMyAyNS45ODIgMTEuNiAyMi42MTUuMTIxLS4wNTUgMi4xMDItMS4wMjkgMi4xMS0xLjAzM3oiLz48L3N2Zz4=");
      }
      .icon-envelope:before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmIj48cGF0aCBkPSJNMTIgMTIuNzEzbC0xMS45ODUtOS43MTNoMjMuOTdsLTExLjk4NSA5LjcxM3ptMCAyLjU3NGwtMTItOS43MjV2MTUuNDM4aDI0di0xNS40MzhsLTEyIDkuNzI1eiIvPjwvc3ZnPg==");
      }
      .icon-map-marker:before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmIj48cGF0aCBkPSJNMTIgMGMtNC4xOTggMC04IDMuNDAzLTggNy42MDIgMCA0LjE5OCAzLjQ2OSA5LjIxIDggMTYuMzk4IDQuNTMxLTcuMTg4IDgtMTIuMiA4LTE2LjM5OCAwLTQuMTk5LTMuODAxLTcuNjAyLTgtNy42MDJ6bTAgMTFjLTEuNjU3IDAtMy0xLjM0My0zLTNzMS4zNDMtMyAzLTMgMyAxLjM0MyAzIDMtMS4zNDMgMy0zIDN6Ii8+PC9zdmc+");
      }
    }
  }
  .img-link {
    display: inline-block;
    padding: 5px 5px 2px;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #015a78;
    height: fit-content;
    transition: all .25s ease-out;
    &:hover {
      opacity: .9;
    }
    img {
      height: auto;
      width: 180px;
      @media(min-width: 1200px) and (max-width: 1399px) {
        width: 140px;
      }
    }
  }
}

.md-video.layout1 + .md-custom-code.html-code {
  padding: 0 !important;
  margin: 0 !important;   
}  

.md-cta.layout11 {
  padding-top: 0 !important;
  .cta-container {
    background-color: #fff;
    padding: 3rem;
    box-shadow: 4px 5px 6px 6px rgba(#000, .01);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    @media(max-width: 767px) {
      flex-wrap: wrap;
    }
  
  }
  .img-content {
    min-height: unset;
    width: 300px;
  }
  .text-content {    
    gap: 30px;
    flex: unset;
    @media(max-width: 767px) {
      padding-right: 0 !important;
      padding-top: 1rem;
    }
    h2 {
      line-height: 1.1;
      text-wrap: balance;
      @media(min-width: 768px) {
        text-align: left !important; 
      }
    }
    .site-subtitle {
      p {
        @media(min-width: 768px) {
          text-align: left !important; 
        }
      }
    }      
    .banner-button-v2 {
      @media(min-width: 768px) {
        justify-content: flex-start; 
      }
    }
  }
}

.md-cta.layout11 + .md-custom-code.html-code {
  @include mixins.accolades;
}  

.md-partner.layout1  + .md-custom-code.html-code {
  background-color: var(--we-red);    
  padding-block: 2rem;
  h2 {
    font-family: var(--mg-title-font);
    font-size: clamp(2rem, 6vw, 3.2rem);
    line-height: 1.1;
    text-wrap: balance;
    padding-block: 1rem;
  }     
}

.md-house.layout1 {
  padding-top: 3.5rem !important;
}

.md-form.layout13 {
  & > .f-col {
    max-width: 1024px;
    border: 1px solid rgba(255,255,255,.85);
    border-radius: 2px;      
    padding: 4rem 3rem !important;
    @media(max-width: 575px) {
      padding: 3rem 1.5rem !important;
    }
  }
  .site-title {
    position: relative;
    padding-top: 3.2rem;
    text-transform: uppercase;
    &:before {
      content: "BE THE 1st TO KNOW";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(255,255,255,.85) ;
      font-size: calc(.9rem + .3vw);
      line-height: 1.1;
      font-family: font-Lato-300;
      letter-spacing: .05em;
    }
    h2 {
      line-height: 1.1;
    }
  }
  .site-subtitle {
    margin-top: 30px !important;
  }
  .input-content {
    width: 100%;
    .v-input {
      @media(max-width: 575px) {
        width: 100%;
      }
      input {
        color: rgba(#fff, .9);
        border-color: rgba(#fff, .9);
        &::placeholder {
          color: rgba(#fff, .8) !important;
        }
      }
    }
  }
  .submit-content {
    width: 200px;
  }
}

  .md-form.layout13 + .md-custom-code.html-code {
    @include mixins.featured-areas;
  }

.md-testimonial.layout5 {
  padding-top: 3.5rem !important;
  .review-title {
    h2 {
      padding-block: 1rem 2rem;
    } 
  }
  .swiper {
    .item {
      .name {
        font-size: 1.15rem !important;
        font-weight: 700 !important;
      }
      .desc {
        font-size: 1.1rem !important;
        font-weight: 400 !important;
      }
    }
  }
}  

@include mixins.contact-info;

@include mixins.contact-form;

.md-form.layout11 + .md-custom-code.html-code {
  background-color: var(--we-red);    
  padding-block: calc(1.8rem + .7vw);
  h2 {
    font-family: var(--mg-title-font);
    font-size: clamp(1.7rem, 2.7vw, 2.5rem);
    line-height: 1.1;
    text-wrap: balance;
  }     
}

.md-cta.layout1 {
  h2 {
    line-height: 1.2;
  }
}
