@use 'banner-simple';
@use 'page-two-col-text-banner';
@use 'title-strip';

@include banner-simple.fixing-heading;
@include page-two-col-text-banner.fixings;
@include title-strip.title-strip;

.md-banner.layout1 + .md-custom-code.html-code {
  background-color: var(--we-blue);
  padding-block: calc(2rem + 1vw);
}

.md-cta.layout5 {
  padding-block: 30px !important;
  .layout5-inner {
    justify-content: center;
  }  
  .btn-item {
    border: 1px solid #fff !important;
  }  
}

.md-video.layout2 {
  .title-wrap {
    width: fit-content !important;
    margin-inline: auto;
    @media(min-width: 768px) {
      margin-bottom: 52px;
    }
    h2 {
      line-height: 1.1;
    }
  }
  .video-list {
    height: 100% !important;
  }
  .video-item {
    position: relative;
    margin-top: 4.5rem;
    .video-title {
      position: absolute;
      top: -4.5rem;
      z-index: 2;
      text-align: center;
      width: 100%;
    h3 {
      width: 100%;
      color: #333;
      font-family: font-Lato-700;
      font-size: clamp(1.15rem, 5vw, 1.25rem);
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: .5rem;
      
    }
    p {
      width: 100%;
      color: #444;
    }
    }
    .video-content {
      aspect-ratio: 5/3;
    }
  }
}

.md-gallery.layout2 {
  .site-title {
    h2 {
      line-height: 1.1;
    }
  }
} 