@use 'mixins';

@include mixins.top-banner;
@include mixins.md-banner-layout2;
@include mixins.md-cta-layout5;
@include mixins.md-cta-layout14;
@include mixins.title-strip;
@include mixins.fixing-title-in-lofty-sections;
@include mixins.videos;

.md-banner.layout1 {
  .single-picture {
    @media(min-width: 601px) {
      background-position-y: 140% !important;
    }
  }
}

// Video grid
[data-uuid="95c5a078-8da3-4c89-84e8-1a23dfeb1620"] {
  padding-block: var(--section-padding-block);
  background-color: #f8f8f8 !important;
}

.videos {
  .grid {
    .col {
      flex-direction: column !important;
      .video-caption {
        text-align: center;
        margin-bottom: 1.5rem;
        h3 {
          text-align: center;
          font-family: font-Lato-700;
          text-transform: uppercase;
          font-size: clamp(1.1rem, 5vw, 1.2rem);
          line-height: 1.2;
          margin-bottom: .5rem;
        }
        p {
          font-size: 1rem;
          margin-block: 0 !important;
        }
      }
    }
  }
}