@use 'mixins';

@include mixins.fixing-header;
@include mixins.fixing-h2-title;
@include mixins.title-eyebrow;

.md-banner.layout1 + .md-custom-code.html-code {
  @include mixins.featured-areas;
}

.md-cta.layout5 {
  padding-block: 30px !important;
  .layout5-inner {
    justify-content: center;
  }  
  h2 {
    text-transform: uppercase;
  }
  .btn-item {
    border: 1px solid #fff !important;
  }  
}