@use 'mixins';

@include mixins.top-banner;
@include mixins.title-wrapper;
@include mixins.section-title-eyebrow;
@include mixins.md-cta-layout1;
@include mixins.md-cta-layout13;

.md-banner.layout1 {
  .single-picture {
    @media(min-width: 601px) {
      background-position-y: 180% !important;
    }
  }
}

.md-banner.layout1 + .md-custom-code.html-code {
  background-color: rgba(218, 218, 218, 1);
  padding: var(--section-padding-block) 15px 0;
  .mg-container {
    width: 100% !important;
  }
  .title-wrapper {
    background-color: #fff;
    padding: 70px 10% 0;
    @media(max-width: 575px) {
      padding: 30px 15px 0;
    }
    max-width: 1240px;
    text-align: center;
    margin-bottom: 0 !important;
    margin-inline: auto;
  }  
  
  p {
    font-family: var(--font-normal);
    color: #444;  
    font-size: 1rem;
    line-height: 1.65;
    margin-top: 2rem;
    text-wrap: pretty;
  }
}

@include mixins.contact-form;

.md-form.layout11 {
  padding-block: 0 var(--section-padding-block) !important;
  .form-agent {
    padding-top: 0 !important;
    &:before {
      display: none !important;
    }
  }
  .agent-form-wrap {
    max-width: 1240px !important;
    padding-top: 40px !important;
    @media(min-width: 576px) {
      padding-inline: 10% !important;
    }
    @media(max-width: 575px) {
      padding-top: 20px !important;
    }
  }
  .agent-info-links, .form-map {
    display: none !important;
  }
}
