@use 'mixins';

@include mixins.top-banner;
@include mixins.title-strip;
@include mixins.md-banner-layout2;
@include mixins.accordion;
@include mixins.comparison-img-slider;
@include mixins.img-carousel;
@include mixins.videos;

[data-uuid="65430383-07fd-4b50-93bb-1279d1f03d65"], [data-uuid="2430a282-d3c0-42cd-9b21-659dcc0ad9eb"], [data-uuid="d623a35b-2841-4b07-a6b8-cc890727b361"] {
  background-color: var(--we-blue) !important;
  padding-block: calc(2rem + 1vw);
  .title-strip {
    max-width: 100% !important;
  }
}

[data-uuid="26e1c98e-95dd-4c54-9c53-63c40cf0a780"] {
  background-color: var(--we-red) !important;
  padding-block: calc(2rem + 1vw);
  .title-strip {
    max-width: 100% !important;
  }
}

.stats {
  padding-block: var(--section-padding-block);
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 2.5rem;
    @media(max-width: 991px) {
      grid-template-columns: 1fr 1fr;
    }
    @media(max-width: 575px) {
      grid-template-columns: 1fr;
    }
  }
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  h3 {
    font-family: font-Lora-400;
    font-size: clamp(2.5rem, 3vw, 3.5rem);
    line-height: 1;
    margin-bottom: 1.4rem;
  } 
  p {
    font-size: clamp(1rem, 3vw, 1.2rem);
  }
}

.md-banner.layout2 {
  .site-title {
    text-transform: uppercase;
    p {
      color: var(--we-red);
      font-family: font-Lato-700;
      font-size: 1.3rem;
      letter-spacing: 0.08em;
      margin-bottom: 1.2rem;
    }
  }  
}
// all .md-banner.layout2 sections
[data-uuid="72d2c2f9-d078-4bab-82b6-06d214015e9e"] {
  .banner {
    .single-picture {
      background-size: contain !important;
    }
  }  
}

.accordion {
  &-body {
    img {
      margin-bottom: 1.5rem;
    }
  }
}

#sell-your-home-step2,
#marketing-plan-step7 { 
  max-width: 1000px; 
  padding-block: var(--section-padding-block);
  margin-inline: auto;
  .site-title {
    font-size: clamp(1.5rem, 2.7vw, 2.3rem) !important;
    line-height: 1 !important;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.75rem;
    p {
      color: var(--we-red);
      font-family: font-Lato-700;
      font-size: 1.3rem;
      letter-spacing: 0.08em;
      margin-bottom: 1.2rem;
    }
  }
  .site-p {
    text-align: center;
    margin-bottom: 2rem;
    p {
      line-height: 1.65;
      @media(min-width: 576px) {
        font-size: 1.1rem;
      }
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }  
}

#sell-your-home-step2 {
  .comparison-slider {    
    .images {
      .img-1{
        background-image: url('https://cdn.lofty.com/image/fs/844773431365048/website/174974/cmsbuild/2026611_5d89b64eee4e4625.jpeg');
      } 
      .img-2{
        background-image: url('https://cdn.lofty.com/image/fs/844773431365048/website/174974/cmsbuild/2026611_6ded18990c1f4db8.jpeg');  
      } 
    }
  } 
}

#marketing-plan-step7 { 
  .comparison-slider {    
    .images {
      .img-1{
        background-image: url('https://cdn.lofty.com/image/fs/844773431365048/website/174974/cmsbuild/2026611_7bb403198b1d4660.jpeg');  
      } 
      .img-2{
        background-image: url('https://cdn.lofty.com/image/fs/844773431365048/website/174974/cmsbuild/2026611_9ff60a99b01e499e.jpeg');
      } 
    }
  } 
}

[data-uuid="05620a8a-1e47-4aa8-80d1-a9236f8e45d7"] {
  .mg-container {
    width: 100%;
  }
}
#marketing-plan-step5 {
  .banner {
    padding: 0 !important;
  }
}

[data-uuid="f73a6e25-0e8d-4fd2-b742-bf55225ed4d3"] {
  background-color: #f8f8f8 !important;
}
#marketing-plan-step6-video-grid {
  .videos {
    .grid {
      .col {
        flex-direction: column !important;
        .video-caption {
          text-align: center;
          margin-bottom: 1.5rem;
          h3 {
            text-align: center;
            font-family: font-Lato-400;
            text-transform: uppercase;
            font-size: clamp(1.1rem, 5vw, 1.2rem);
            line-height: 1.2;
            margin-bottom: .5rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
