@use 'banner-simple';
@use 'title-strip';
@use 'containers';

@include banner-simple.fixing-heading;
@include title-strip.title-strip;

.md-banner.layout1 + .md-custom-code.html-code,
.md-agent-search.layout6 + .md-custom-code.html-code {
  background-color: var(--we-blue);
  padding-block: calc(2rem + 1vw);
}

.md-agent-search.layout6 {
  .f-col {
    @include containers.custom-containers;
  }
  .agent-search {
    display: none;
  }
  .search-item {
    width: calc((100% - 40px) / 3);   
  }
  .avatar-box-a {
    aspect-ratio: 1;
    height: auto;    
    margin-bottom: 1.1rem;
    img {
      object-position: top;
    }
  }
  .description {
    .agent-name {
      font-family: font-Lato-700;
      text-transform: uppercase;
      font-size: 1.4rem;
    }
    .agent-position {
      color: var(--we-blue);
      text-transform: uppercase;
      font-size: 1rem;
      margin-top: .3rem;
    }
  }
}

.md-banner.layout1 + .md-custom-code.html-code + .md-agent-search.layout6 {    
  .search-item {
    &:nth-of-type(1) {
      order: 0;
    }
    &:nth-of-type(2) {
      order: 1;
    }
    &:nth-of-type(3) {
      order: 2;
    }
    &:nth-of-type(6) {
      order: 3;
    }
    &:nth-of-type(11) {
      order: 4;
    }
    &:nth-of-type(5) {
      order: 5;
    }
    &:nth-of-type(9) {
      order: 6;
    }
    &:nth-of-type(8) {
      order: 7;
    }
    &:nth-of-type(4),
    &:nth-of-type(7),
    &:nth-of-type(10) {
      display: none;
    }
  }
}

.md-agent-search.layout6 + .md-custom-code.html-code + .md-agent-search.layout6 {    
  .search-item {
    &:nth-of-type(1),
    &:nth-of-type(2),
     &:nth-of-type(3),
    &:nth-of-type(5),
    &:nth-of-type(9),
    &:nth-of-type(6),
    &:nth-of-type(8),
    &:nth-of-type(11) {
      display: none;
    }
    &:nth-of-type(10) {
      order: 0;
    }
    &:nth-of-type(4) {
      order: 1;
    }
    &:nth-of-type(7) {
      order: 2;
    }
  }
}

.md-cta.layout14 {
  .content {
    min-height: unset !important;
  }
  .site-card {
    max-width: 600px;
    margin-inline: auto;
  }
  .site-title {
    line-height: 1.1 !important;
    text-wrap: balance;
  }
}