@use 'mixins';

@include mixins.top-banner;
@include mixins.title-strip;
@include mixins.md-cta-layout1;
@include mixins.md-cta-layout14;

.md-banner.layout1 {
  .single-picture {
    @media(min-width: 601px) {
      background-position-y: 220% !important;
    }
  }
}

.md-banner.layout1 + .md-custom-code.html-code,
.md-banner.layout1 + .md-custom-code.html-code + .md-custom-code.html-code + .md-custom-code.html-code  {
  background-color: var(--we-blue);
  padding-block: calc(2rem + 1vw);
}

.team-grid {
  @include mixins.custom-containers;
  padding-block: var(--section-padding-block) !important;
  .row {
    margin: 0 -20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 60px 0;
    @media(max-width: 1199px) {
      margin: 0 -15px;
      gap: 50px 0;
    }
    @media(max-width: 991px) {
      margin: 0 -10px;
    }
    @media(max-width: 767px) {
      margin: 0;
    }
  }
  .col {
    padding-inline: 20px;
    width: 33%;
    @media(max-width: 1199px) {
      padding-inline: 15px;
    }
    @media(max-width: 991px) {
      padding-inline: 10px;
    }
    @media(max-width: 767px) {
      width: 100%;    
      padding-inline: 0px;
    }
  }
  .card {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-inline: auto;
    .img-wrapper {
      aspect-ratio: 8/10;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 3px;
      box-shadow: 2px 3px 12px 1px rgba(#000, .11);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
        transition: all .3s ease-out;
      }
      
    }
    .img-link {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
    &-title {
      color: #000;
      font-family: font-Lato-400;
      font-size: clamp(1.1rem, 1.8vw, 1.6rem);
      @media(max-width: 767px) {
        font-size: clamp(1.1rem, 5vw, 1.6rem);
      }
      line-height: 1.1;
      text-transform: uppercase;
      margin-block: 1.25rem .5rem;
    }
    &-subtitle {
      color: var(--we-blue);
      font-family: font-Manrope-500;
      font-size: clamp(.9rem, 3vw, 1rem);
      text-transform: uppercase;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
    .btn-item {
      padding: 1.15rem 1rem;
      line-height: 1;
      text-align: center;
      font-family: font-Lato-700;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: .08em;
      width: 200px;
      margin: 1.1rem auto 0;
      border: 2px solid var(--we-red);
      transition: all .25s ease-out;
      &:hover {
        color: var(--we-red) !important;
        background-color: transparent !important;
      }
    }
  }
}