@use 'containers';

.md-banner.layout1 {
  .site-title {
    line-height: .8 !important;
    text-wrap: balance; 
  }
}

.md-content.layout8 {
  padding-block: calc(2rem + 1vw) !important;
  .title-section {
    margin-bottom: 0 !important;
  }
  .site-title {
    line-height: 1;
    text-wrap: balance;   
    h2 {
      display: flex;
    }     
  }
  .subtitle-section {
    margin-bottom: 0 !important;
  }
}

.md-team-desc.layout1 {
  .description {
    max-width: 1240px;
    .site-title {
      line-height: 1.1;
      text-wrap: balance;        
    }
    .site-p {
      padding-top: 50px;
    }
  }
  .desc-list {
    @include containers.custom-containers;
    margin-top: 40px;
    @media(max-width: 991px) {
      display: grid !important;
      grid-template-columns: 1fr 1fr;
      gap: 30px 0;
      justify-items: center;
    }
    @media(max-width: 500px) {
      grid-template-columns: 1fr;
    }
    &-li {
      width: 100% !important;
      @media(min-width: 992px) {
        padding-inline: 20px;
      }
      .number {
        color: var(--we-red) !important;
      }
      .text {
        span {
          font-size: 1rem !important;
        }
      }
    }
  }
}

.md-content.layout8 + .md-custom-code.html-code {     
  .mg-container {
    width: 100%;      
  }  
  #why-choose-we {      
    @include containers.custom-containers;
    .row {
      display: grid;
      grid-template-columns: 1fr;
      @media(min-width: 992px) {
        grid-template-columns: 1fr 1fr;
      }
      padding-block: 60px calc(60px - .8rem);
      & > div {          
        width: 100%;    
        align-content: center;
      }
    }      
    
    .row:not(.row-direction-reverse) {
      .col-text {
        @media(min-width: 992px) {
          padding-left: calc(20px + 2vw);
        }
        @media(max-width: 991px) {
          padding-top: 40px;
        }
      }
    }

    .row-direction-reverse {        
      position: relative;
      z-index: 1;
      &:before {
        content: '';
        background-color: var(--g-bg-color);
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        right: 50%;
        z-index: -1;
        transform: translateX(50vw)
      } 

      .col-text {
        @media(min-width: 992px) {
          padding-right: calc(20px + 2vw);
          order: -1;
        }
        @media(max-width: 991px) {
          padding-top: 40px;
        }
      }
    }      

    img {
      width: 100%;
      height: auto;           
      border-radius: 2px;
      box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, .07);
    }
    h3 {
      font-size: clamp(1.5rem, 2.7vw, 2.3rem);
      line-height: 1.1;
      text-transform: uppercase;
      margin-bottom: .75em;
      font-family: var(--mg-title-font);
      opacity: .8;
      @media(max-width: 991px) {
        text-align: center;
      }
    }        
    p, li {
      font-size: 1rem;
      line-height: 1.65;
      opacity: .8;
      &:not(:first-child) {
        margin-top: .9rem;
      }
    }

    li > ul {
      margin-top: .9rem;
    }

    ul > li > ul 
    
    .btn-wrapper {
      margin: 2.5rem 0 0 !important;
      width: fit-content;
      .btn-item {
        margin: 0 !important;
      }
    }
  }

}

.md-cta.layout13 {
  padding-block: 40px;
  background-color: var(--we-blue);
  .content {
    @include containers.custom-containers;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 2.5%;
    @media(max-width: 767px) {
      grid-template-columns: 1fr;        
    }
  }
  .card-wrapper {
    @media(min-width: 768px) {
      height: auto !important;
      aspect-ratio: 1;   
    }         
  }
  .card-content {
    .site-p {
      @media(min-width: 768px) and (max-width: 991px) {
        min-height: 36px;
      }
    }
  }
}