@use 'mixins';
@use 'standard-content-style';

@include mixins.top-banner;
@include mixins.fixing-title-in-lofty-sections;
@include mixins.title-strip;
@include mixins.md-cta-layout1;
@include mixins.md-cta-layout13;

.md-custom-code.html-code:not(.md-header.layout2 + .md-custom-code.html-code) {
  padding-block: var(--section-padding-block);
}

.md-banner.layout1 {
  .single-picture {
    @media(min-width: 601px) {
      background-position-y: 110% !important;
    }
  }
}

.md-banner.layout1 + .md-custom-code.html-code {
  background-color: var(--we-blue);
  padding-block: calc(2rem + 1vw) !important;
  h2 {
    font-size: clamp(1.6rem, 2.5vw, 2.3rem) !important;
  }
}

.md-team-desc.layout1 {
  .description {
    //max-width: 1240px;
    .site-title {
      line-height: 1.1;
      text-wrap: balance;        
    }
    .site-p {
      padding-top: 50px;
    }
  }
  .desc-list {
    @include mixins.custom-containers;
    margin-top: 40px;
    @media(max-width: 991px) {
      display: grid !important;
      grid-template-columns: 1fr 1fr;
      gap: 30px 0;
      justify-items: center;
    }
    @media(max-width: 500px) {
      grid-template-columns: 1fr;
    }
    &-li {
      width: 100% !important;
      @media(min-width: 992px) {
        padding-inline: 20px;
      }
      .number {
        color: var(--we-red) !important;
      }
      .text {
        span {
          font-size: 1rem !important;
        }
      }
    }
  }
}

.md-team-desc.layout1 + .md-custom-code.html-code {
  background-color: var(--we-red);
  padding-block: calc(2rem + 1vw) !important;
}

.md-team-desc.layout1 + .md-custom-code.html-code + .md-custom-code.html-code {
  .mg-container {
    padding: 15px;
    @media(max-width: 600px) {
      width: 100% !important;
    }
  }
}

#why-winning-edge {     
  .flex-col {
    &--img {
      background-color: hsl(0, 0%, 100%);

    }
    &--text {
      background-color: hsl(0, 0%, 97%);
    }
  }
  .row-title {
    font-size: clamp(1.5rem, 2.5vw, 1.85rem);
    margin-bottom: 1.5rem;
  }
  p, li {
    line-height: 1.65;
  }
  ul {
    @include mixins.check-style-list--blue;
  }  
  .btn-wrapper {
    margin: 2.5rem 0 0 !important;
    width: fit-content;
    @media(min-width: 992px) {
      justify-content: flex-start;
    }
    .btn-item {
      margin: 0;
      font-size: 16px;
      min-width: 200px;
      height: 50px;
      line-height: 50px;
    }
  }
}
